body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 70%;
  margin: auto;
  text-align: center;
}

.Welcome p {
  text-align: left;
  font-size: 1.3em;
}

.navbar {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 12px;
}

#username {
  color: #666;
}
